<app-nevigation></app-nevigation>

<!-- <app-sidebar></app-sidebar> -->
<!-- <div style="padding: 5px">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="home">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="addCustomer">Add Customer</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="customers">List of Customers</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="addVehicle">Add Vehicle</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="vehicles">List of Vehicles</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="addMechanic">Add Mechanic</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="mechanics">List of Mechanics</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="addJobCard">Add JobCard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="jobCards">List of JobCards</a>
    <li routerLinkActive="active">
      <a routerLink="addService">Add Service</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="services">List of Service</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="addInsurance">Add Insurance</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="insurances">List of Insurances</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="addServiceFault">Add ServiceFault</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="serviceFaults">List of ServiceFault</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="addInvoice">Add Invoice</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="invoices">List of Invoice</a>
    </li>
  </ul>
  <br>
  <router-outlet></router-outlet>
</div>  -->

<router-outlet></router-outlet>

